:root {
    --primary-color: #c49b50;     /* זהב */
    --secondary-color: #c49b50;
    --accent-color: #c49b50;
    --light-color: #f8f9fa;
    --dark-color: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: var(--dark-color);
}

.page-box {
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}
.container {
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}
